
body{
	margin: 0px;
}

button{
	font-family: sans-serif;
	text-decoration: none;
	color: black;
	background-color: white;
	border: none;
}

/* header */
#imgDiv img {
    height: 80px;
    width: 300px;
}

.navbar-nav button{
	list-style-type: none;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
	font-size: 25px;
}

/*banner section*/

#banner{
	background-image: url(../images/banner.png);
	height: 500px;
	background-size: cover;
	background-position: center;
}

#banner>h2{
	color: #fff;
	padding-left: 80px;
	padding-top: 100px;
	font-size: 45px;
	font-family: sans-serif;
	margin-top: 0;
}

#banner>p{
	color: #fff;
	padding-left: 80px;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 400;
}

/*order section*/

 #sbanner {
	background-image: url(../images/heading-bg.png);
	background-size: cover;
	background-position: center;
	width: 600px;
	height: 60px;
	text-align: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	font-family: Geneva, Tahoma, sans-serif;
}

/*card section*/


.row {
        margin-bottom: 25px;
}


.card{
	margin-left: 20px;
	margin-right: 10px;
	box-shadow: 0px 4px 9px 4px #ffffff;
	border-radius: 10px;
    padding-bottom: 10px;
	width: 270px;
	height: 320px;
}

figure{
	margin: 0;
	margin-left: 10px;
	align-content: center;
}

figure>img{
	height: 200px;
}

figure>h4{
	font-size: 18px;
	font-family: sans-serif;
	margin-bottom: 0;
	margin-top: 0;
}

figure>p{
	font-family: serif,  Helvetica, sans-serif;
	font-size: 11px;
	margin-bottom: 0;
}

#itemPrice{
	font-size: 14px;
	margin-top: 2px;
}

#itemPrice>span{
	font-size: 20px;
	color: orange;
}

/* footerSection */

#rowflex {
	align-items: flex-end;
	padding-left: 20px;
	padding-bottom: 10px;
}

#imgDiv-2 img {
	width: 300px;
	height: 80px;
}

.foot {
	width:200 px;
}


#footerSection{
	background-image: url(../images/footer-bg.png);
	background-size: cover;
	background-position: center;
	margin-top: 50px;
}

#footerSection>p{
	text-align: center;
	font-family: sans-serif;
}

.s-container{
	display: flex;
}

#Latest {
	margin-bottom: 10px;
}

.s-container p{
	font-size: 10px;
	justify-content: space-between;
	padding-top: 40px;
}

.image{
	max-height: 100px;
	max-width: 80px;
}

.image>img{
	height: 90px;
	width: 50px;
}